#sidebar-content {
  height: 100%;
  width: 260px;

  background-color: var(--primary-color);
}

#sidebar .nav-link {
  color: var(--primary-text-color);
}

#sidebar .nav-link:hover {
  background-color: var(--primary-text-color-hover);
}
